<div class="container">
    <div class="videos" *ngFor="let video of video_card">
        <div class="cards">
            <div class="thumbnail">
                <img id="user" src="https://dev-project-upskill-grupo02.pantheonsite.io/{{  video.user_photo }}"
                    alt="user-photo" [routerLink]="['/channel/' + video.id_channel]">
                <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{  video.thumbnail }}" alt="thumbnail"
                (click)="navigateToVideo(video)" />
            </div>
            <div class="info-video">
                <p class="channel-title"> {{ video.title_channel }}</p>
                <p class="video-title"> {{ video.title_video}} </p>
                <p> Há {{ video.created | diasPassados }} dias. </p>
            </div>
        </div>
    </div>
</div>