<div class="container">
    <div class="videos" *ngFor="let video of video_card" [routerLink]="['video/'+ video.id_video]">
       <div class="cards">
            <div class="thumbnail">
            <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{  video.thumbnail }}" alt="" />
        </div>
        <div class="info-video">
            <span class="channel-title"> {{ video.title_channel }}</span>
            <span class="video-title"> {{ video.title_video}} </span>
            <span > Há {{ video.created | diasPassados }} dias. </span>
        </div>
    </div>
    </div>
</div>