<h2>Canais</h2>
<div class="grid">
  <div *ngFor="let channel of channelList">
    <div class="card">
      <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{ channel.field_media_image }}" class="card__image">
      <p class="cardName">{{ channel.channel_name }}</p>
      <p class="cardAutor">Por: {{ channel.author }}</p>          
      <div class="grid-container">  
        <div class="grid-child-posts">
          156 Vídeos
        </div>      
        <div class="grid-child-followers">
          1012 Comentários
        </div>  
      </div>
      <button class="btn draw-border" [routerLink]="['/channel/', channel.id]">Canal</button>
    </div>
  </div>
</div>  