<h2>Canais</h2>
<div class="line">
  <div *ngFor="let channel of channels">
    <div class="card">
      <p class="cardName">{{ channel.channel_name }}</p>
      <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{ channel.user_photo }}" class="card__image">
      <p class="cardAutor">Por: {{ channel.author }}</p>
      <div class="comments">
        <fa-icon [icon]="faCommentAlt "></fa-icon>
        <p>{{ channel.comment_count }}</p>
      </div>
      <button class="btn draw-border" [routerLink]="['/channel/', channel.id ]">IR PARA O CANAL</button>
    </div>
  </div>
</div>