
<div class="popup-wrapper" [ngClass]="showModal ? 'show' : 'hide'">
    <div class="popup">
      <header>
        <span>Sharing is caring!</span>
        <div class="close" (click)="toggleModal()"><i class="uil uil-times"></i></div>
      </header>
      <div class="content">
        <p>Share this link via</p>
        <ul class="icons">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://web.whatsapp.com/send?phone=" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </ul>
        <!-- <p>Or copy link</p>
        <div class="field">
          <i class="uil uil-link"></i>
          <input type="text" value="example.com/share-link" />
          <button>Copy</button>
        </div> -->
      </div>
    </div>
  </div>
  