<div class="container" *ngIf="video">
    <div class="player">
        <h1 class="title"> {{ video.title }} </h1>
        <span class="tags"> # {{video.tags}} </span>
        <div class="video">
            <iframe [src]="video.url " title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="user" *ngIf="channel">
            <div class="user-photo">
                <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{ channel.user_photo }}">
            </div>
            <div class="userInfo">
                <span class="user_name"> <strong>{{ channel.author }} </strong></span>
                <span class="created"> Há {{ video.created | diasPassados }} dias. </span>
            </div>
        </div>
        <div class="description">
            <div class="desc">
                <p> {{ video.description }} </p>
            </div>
            
        </div>
        <div class="comments" *ngFor="let c of comments">
            <div class="com-img">
                <img src="{{ c.user_photo }}">
            </div>
            <div class="com-info">
                <span> <strong> {{ c.name }} </strong></span>
                <span class="cread-comm"> Há {{ c.created | diasPassados }} dias. </span>
                <p class="commen-p"> {{ c.comment }} </p>
            </div>
        </div>
    </div>

    <!-- <app-cards type="video"></app-cards> -->
    <app-video-cards *ngIf="channel" [id_channel]="channel.id"></app-video-cards>
</div>