.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: pink;
    overflow: auto;

    .player {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-content: center;
        height: 100vh;
        width: 100%;

        .video {
            display: flex;
            justify-content: center;
            iframe {
                width: 700px;
                height: 500px;
                border-radius: 15px;
            }
        }

        p,
        h1 {
            margin: 3% 10%;
        }

        .informations {
            font-size: 1.1em;

            .user {
                display: flex;
                justify-items: center;
                align-items: center;
                padding: 1% 5%;

                .user-photo {
                    img {
                        border-radius: 50%;
                        height: 60px;
                        width: 60px;

                        border: 1px solid black;
                    }
                }

                .userInfo {
                    padding: 3% 3%;
                    display: flex;
                    flex-direction: column;
                    .user_name {
                        margin-bottom: 13%;
                    }
                }
            }
        }
    }

    /* .cards{
        width: 120px;
        background-color: aqua;
    } */
}

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
        p {
            margin: 5%;
        }
    }

    app-cards {
        display: none;
    }
}
