.channelPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #13131a;

    .banner{
      width: max-content;
      height: 80px;
    }

    .left{
      float: left;
    }

    
  }
  
  
  