<div class="channelPage" *ngFor="let channel of channels">
  <div class="banner">
    <!-- <img class="bannerChannel" src="../../../assets/imgs/bannerFoodsChannel.JPG"> -->
    <div class="informationBanner">
      <p>{{ channel.author }}</p>
      <!-- <p>Aqui entra uma descrição sobre o canal de fulano de tal.</p>  -->
    </div>    
  </div> 
 <!--  <div>
    <img class="logoChannel" src="../../../assets/imgs/karolLogo.jpeg">
  </div>  -->   
</div>

<div class="main">
  <h2>Vídeos</h2>
   <div class="container" *ngFor="let video of videos">
   <!--  <div class="thumbnail">
      <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{ video.thumbnail }}">
      <div class="time">01:56</div> -->
        <b>{{ video.title }}</b>
    <!-- </div>   -->
  </div>
</div>
 

