<div class="channelPage">
  <div class="banner">
    <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{channel.banner}}">
    <div class="informationBanner">
      <p><b>{{ channel.author }}</b></p>
      <p>Aqui entra uma descrição sobre o canal de fulano de tal.</p>
    </div>
  </div>
  <div class="logoChannel">
    <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{ channel.user_photo }}">
  </div>
</div>

<div class="cardPage">
  <h2>Vídeos</h2>
  <div class="cards" *ngFor="let channel of channels">
    <div class="informations">
      <img src="https://dev-project-upskill-grupo02.pantheonsite.io/{{ channel.thumbnail }}">
      <p>{{ channel.title }}</p>
    </div>
  </div>
</div>

<!-- <div><app-comments></app-comments></div> -->