.banner {
  margin: 20px;
  position: relative;

  .logoChannel img {
    position: absolute;
    // float: right;
    top: 150px;
    left: 1000px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 0%);
  }
}

img {
  width: 100%;
  height: 16rem;
  border-radius: 10px;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, rgb(0, 0, 0) 25%);
}

.informationBanner {
  color: rgb(198, 198, 200);
  margin: 0 20px 80px 30px;
  font-size: 12px;
  border-bottom: 1px solid rgb(39, 39, 48);
  padding-bottom: 20px;
}

h3 {
  color: rgb(198, 198, 200);
  margin-top: - 50px;
  padding-left: 30px;
}

.cardPage {
  display: flex;
  flex-wrap: wrap;
  color: rgb(198, 198, 200);
  font-size: 12px;
  margin-bottom: 50px;
  width: 100%;
  padding-left: 30px;

  .cards {
    margin: 0 15px 15px 0;
    width: 31.8%;

    .informations {
      background-color: rgb(28, 28, 36);
      font-size: 12px;
      border-radius: 15px;
      width: 100%;
      height: 300px;

      p {
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 10px;
      }

      img {
        border-radius: 15px;
        width: 100%;
        height: 220px;
      }
    }
  }
}