  .outlet {
    overflow: auto;
    display: block;
  }

  .header {
    position: relative;
    z-index: 1;
  }

@media only screen and (max-width: 480px) { /* (O certo é 480) */
  .sidebar {
    visibility: collapse;
  }

  .outlet {
    margin-top: 100px;
    margin-left: 90px;
  }

  .header {
    visibility: visible;
  }
}

@media only screen and (min-width: 481px) {
  .sidebar {
    visibility: visible;      
  }
  .header {
    visibility: collapse;
  }

  .outlet {
    padding-left: 250px; 
  }
}
