  .sidebar {
    // coluna 1
    width: 250px;
    color: #fafafb;
  }

  .outlet {
    display: flex;
    width: 100%;
    top: 0;
  }

  .header {
    position: relative;
    z-index: 1;
  }

@media only screen and (max-width: 599px) {
  .sidebar {
    visibility: collapse;
  }

  .header {
    visibility: visible;
  }

  .outlet {
    margin-top: -450px;
  }
}

@media only screen and (min-width: 600px) {
  .sidebar {
    visibility: visible;
    width: 250px;       
  }
  .header {
    visibility: collapse;
  }

  .outlet {
    padding-left: 250px;
    margin-top:  -505px;  
  }
}
