<div class="container">
  <div class="menuSideBar">
    <img src="./../../../assets/imgs/logo.png" alt="logoUpLoad" class="logo" />

    <a class="menuLine" href="">
      <fa-icon [icon]="faHomeUser" class="faIcon"> </fa-icon>
      <p>Início</p>
    </a>
    <a class="menuLine" routerLink="/channelList" routerLinkActive="active">
      <fa-icon [icon]="faBarsStaggered" class="faIcon"> </fa-icon>
      <p>Canais</p>
    </a>
    <a class="menuLine" routerLink="/themes" routerLinkActive="active">
      <fa-icon [icon]="faClapperboard" class="faIcon"> </fa-icon>
      <p>Temáticas</p>
    </a>
    <a class="menuLine" routerLink="/playlist" routerLinkActive="active">
      <fa-icon [icon]="faPlay" class="faIcon"> </fa-icon>
      <p>Playlists</p>
    </a>
    <p class="tag">TAGS</p>
    <div class="box">
      <p class="tags" *ngFor="let tag of tags">{{ tag.name }}</p>
    </div>
  </div>
</div>