<div class="container">
  <div class="menuSideBar">
    <img src="./../../../assets/imgs/upload_logo.png" alt="logoUpLoad" />
    <a href="">Início</a>
    <a routerLink="/channelList" routerLinkActive="active">Canais</a>
    <a routerLink="/thematic" routerLinkActive="active">Temáticas</a>
    <a routerLink="/playlist" routerLinkActive="active">Playlists</a>
    <p class="tag">TAGS</p>
    <div class="box">
      <p class="tags">gamers</p>
      <p class="tags">freefire</p>
      <p class="tags">live</p>
      <p class="tags">games</p>
      <p class="tags">playstation</p>
      <p class="tags">delicius</p>
    </div>
  </div>
</div>