.container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #13131a;

  .menuSideBar {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1c1c24;
    overflow-x: hidden;
    padding-top: 20px;


    img {
      width: fit-content;
      height: auto;
      width: 100%;
      padding: 6px 8px 6px 16px;
    }

    .logo {
      border-bottom: 1px solid #272730;
      padding-bottom: 10px;
    }

    .menuLine {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: baseline;

      p {
        font-size: 12px;
        margin: 0;
        color: #606068;

      }

      .faIcon {
        width: 10%;
        margin: 0;
        color: #606068;

      }
    }

  }

  .menuSideBar a,
  .tag,
  .tags {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    color: #606068;
    display: block;
    display: flex;
  }

  .menuSideBar a:hover {
    color: #fafaf8;
    border-left-style: solid;
    p {
      font-size: 12px;
      margin: 0;
      color: #fafaf8;

    }
    .faIcon {
      width: 10%;
      margin: 0;
      color: #fafaf8;

    }

  }

  .box {
    display: flex;
    flex-wrap: wrap;

    .tags {
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      border: solid #606068 1px;
      padding: 4px;
      color: #c0c0c2;
      margin: 6px;


    }

  }


}
