h2 {
  color: #f1f1f1;
  font-size: 30px;
  padding: 1%;
  margin-bottom: -10px;
}
.container {
  .themes {
    display: flex;
    flex-wrap: wrap;
    width: 800px;

    margin-bottom: 60px;
    padding: 0 5%;~




    .title {
      font-size: 24px;
    }

    .theme {
      width: 100%;

      p {
        color:  #f1f1f1;
      }

      .header_photo {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        border-radius: 50px;

        img {

          border-radius: 20px 20px 0px 0px;
        }
      }

      .user_photo img {
        position: absolute;
        bottom: 15px;
        right: 30px;
        padding: 15px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

      }

    }
  }
}
