.container {
  display: flex;
  flex-direction: column;
  top: 15px;
  right: 15px;
  width: 14%; //mudei essa linha para testes. by myca
  padding-bottom: 10%;
  margin-right: 1%; //acrecentei essa linha para testes. by myca
  position: absolute;


  .channels,
  .themes {
    background-color: rgb(28, 28, 36);
    margin-top: 20px;
    height: 60%;
    color: rgb(245, 245, 247);
    font-size: 12px;
    border: 1px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    border-bottom: white;

    .title {
      border-bottom: 1px solid rgb(39, 39, 48);
      padding-bottom: 10px;
      margin-left: 10px;
    }

    .banner {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 20px;
      margin-top: 10px;

      .logoChannel img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid black;
      }

    }

    .more {
      align-items: center;
      display: flex;
      justify-content: center;
      border-top: 1px solid rgb(40, 40, 48);
      background-color: rgb(40, 40, 48);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10%;
      font-size: 10px;

      .showMore {

        text-decoration: none;
        color: rgb(245, 245, 247);

      }

    }

  }

  .themes {
    background-color: rgb(28, 28, 36);
    margin-top: 20px;
    height: 60%;
    color: rgb(245, 245, 247);
    font-size: 12px;
    border: 1px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    border-bottom: white;

    .title {
      border-bottom: 1px solid rgb(39, 39, 48);
      padding-bottom: 8px;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: baseline;


      .titleSeeAll {
        font-size: 8px;
        padding-left: 50px;

        .seeAll {
          text-decoration: none;
          color: rgb(245, 245, 247);

        }



      }
    }


  }

}
