:host {
   width: 250px;
   background-color: yellow;
   overflow: auto;
   display: flex;
   justify-content: center;
 }

.container {
   /* display: flex;
   flex-direction: column;
   margin-right: 25px;
   top: 15px;
   right: 15px;
   width: 15%;
   padding-bottom: 10%;
   position: absolute; */
      display: flex;
      flex-direction: column;
      width: 230px;
      position: absolute;
      align-items: center;
      background-color: palevioletred;

   &.type-video {
      background-color: aquamarine;
   }

   .channels,
   .themes {
      background-color: rgb(28, 28, 36);
      margin-top: 20px;
      height: 60%;
      color: rgb(245, 245, 247);
      font-size: 12px;
      border: 1px;
      display: inline-block;
      border-radius: 10px;
      position: relative;
      border-bottom: white;
      width: 100%; //definil a largura do card

      .title {
         //border-bottom: 1px solid rgb(39, 39, 48);
         padding-bottom: 10px;
         margin-left: 10px;
         display: inline-flex;
         text-decoration: none;

         .seeMore {
            text-decoration: none;
         }
      }

      .banner {
         display: flex;
         flex-wrap: wrap;
         position: relative;
         margin-bottom: 20px;
         margin-top: 10px;

         .logoChannel img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin-right: 10px;
            margin-left: 10px;
            border: 1px solid black;
         }
         //mostra para a Cami
         .header img{
            display: flex;
            height: 60px;
            width: 150px;
            justify-content: center;
            
         }
      }

      .more {
         align-items: center;
         display: flex;
         justify-content: center;
         border-top: 1px solid rgb(40, 40, 48);
         background-color: rgb(40, 40, 48);
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10%;
         font-size: 10px;

         .showMore {
            text-decoration: none;
            color: rgb(245, 245, 247);
         }
      }
   }
}
