/* :host {
  width: 250px;
  background-color: yellow;
  display: flex;
  justify-content: center;
} */

.container {
   display: flex;
   flex-direction: column;
   top: 15px;
   right: 35px;
   width: 15%;
   padding-bottom: 10%;
   position: absolute;

   .channels,
   .themes {
      background-color: rgb(28, 28, 36);
      margin-top: 20px;
      height: 60%;
      color: rgb(245, 245, 247);
      font-size: 12px;
      border: 1px;
      display: inline-block;
      border-radius: 10px;
      position: relative;

      .title {
         width: 100%;
         margin: auto;
         padding: 10px 10px;
         display: inline-flex;
         align-items: baseline;
         justify-content: space-between;
         border-bottom: 1px solid rgb(39, 39, 48);

         .seeAll {
            text-decoration: none;
            color: rgb(245, 245, 247);
            font-size: 10px;
         }
      }

      .banner {
         display: flex;
         flex-wrap: wrap;
         position: relative;
         margin-bottom: 20px;
         margin-top: 10px;

         .titleTheme {
            width: 100%;
            margin: auto;
            padding: 10px 10px;
            display: inline-flex;
            font-size: 10px;
         }

         .logoChannel img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            border: 1px solid black;
         }

         .headerChannel img {
            width: 90%;
            height: auto;
            border: 1px solid black;
            justify-content: center;
            margin-right: 5%;
            margin-left: 5%;
            border-radius: 5%;
         }
      }

      .more {
         align-items: center;
         display: flex;
         justify-content: center;
         border-top: 1px solid rgb(40, 40, 48);
         background-color: rgb(40, 40, 48);
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10%;
         font-size: 10px;

         .showMore {
            text-decoration: none;
            color: rgb(245, 245, 247);
         }
      }
   }
}
